/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*===== Global CSS =====*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color 0.6s ease, color 0.6s ease;

}

html
{
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    height: 100%;
}

 :root
 {
    --main-color:#00a78e;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.2);
    --black:#000;
    --black-400:#646f87;
    --black-100:#f7f7f7;
    --white:#fff;
    --black-alpha-100:rgba(0,0,0,.05);
    --black-to-yellow: #000;
    --main-to-yellow:#00a78e;
    --main-to-ash:#00a78e; 
    --header-footer:#00a78e;
    --ash-to-yellow:#646f87;

 }

.dark-theme 
 /* :root[data-theme='dark'] */

{
     --main-color:#009E60;
     --shadow-black-100:0 5px 15px rgba(0,0,0,0.2);

      /* white */
     --black:#fff;
      /* ash */
     /* --white:#444C38; */
    --white:#485320;


     /* whitesmoke */
    --black-400:#f5f5f5;
    --black-100:#4B5320;
    --black-to-yellow: yellow;
    --main-to-yellow:yellow;
    --main-to-ash:#444C38;
    --header-footer:#009E60;
    --ash-to-yellow:yellow;


}

body
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
    height: 100vh;
}

ul
{
    list-style: none;
}

img
{
    vertical-align: middle;
}

a
{
    color: var(--white);
}

.container
{
    max-width: 1140px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center
{
    justify-content: center;
}

.justify-content-between
{
    justify-content: space-between;
}

.align-items-center
{
    align-items: center;
}

.btn-1
{
    background-color: var(--main-color);
    padding: 15px 40px;
    border: none;
    color: var(--white);
    /* border-radius: 8px; */
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease-out;
    margin-bottom: 8px;
    margin-right: 10px;

}

.download {
    background-color:#f7f7f7;
    color: #009E60;
}
.download {
    color: #009E60;
}

.btn-1:hover
{        background-color: white;
    
        color: #009E60;

}

.download:hover {
    background-color: #009E60;
    color: white;
}

.btn-link 
{
    background-color:var(--white);
    color: var(--main-color);
    height: 55px;
    padding: 15px 40px;
    margin-top: 30px;
   
    border-radius: 8px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

.btn-link:hover
{
    background-color:var(--main-color) ;
    color: var(--white);
}

.section-padding
{
    padding: 80px 0;
}
.text-align
{
    text-align: center;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.section-title .sub-title
{
    font-family: "Kaushan Script", cursive; 
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}
.section-title .main-title
{
    font-size: 33px;
    font-weight: 800;
    margin-top: 10px;
    color: var(--black-to-yellow);
}
.section-title .line 
{
    padding-top: 0px;
}
.section-title .line li
{
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50px;
    height: 3px;
}
.section-title .line li:nth-of-type(1)
{
    width: 64px;
}
.section-title .line li:nth-of-type(2)
{
    width: 10px;
}
.section-title .line li:nth-of-type(3)
{
    width: 7px;
}

/*===== Navbar =====*/
.navbar
{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 25px;
    transition: all 0.5s ease;
}
.navbar.sticky
{
    padding: 12px 25px;
    background-color: var(--white);
    box-shadow: var(--shadow-black-100);
}
.navbar .logo a
{
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
    text-transform: capitalize;
    /* padding-left: 15px; */
}
.navbar .logo a span
{
    color: var(--main-color);

}
.navbar .menu .nav-item
{
    display: inline-block;
    position: relative;
    margin-left: 36px;
}
.navbar .menu .nav-item .nav-link
{
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
    padding: 10px 0;
}
.navbar.sticky .menu .nav-item .nav-link
{
    color: var(--main-color);
}
.navbar .nav-item .nav-link span
{
    width: 0;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
}
.navbar .nav-item .nav-link span::before
{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    left: 110%;
}
.navbar .nav-item .nav-link span::after
{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    left: 140%;
}
.navbar.sticky .nav-item a span,
.navbar.sticky .nav-item a span::before,
.navbar.sticky .nav-item a span::after
{
    background-color: var(--main-color);
}


.menu-btn
{
    background-color: var(--main-color);
    height: 34px;
    width: 44px;
    box-shadow: var(--shadow-black-100);
    padding: 0;
    border-radius: 5px;
    line-height: 34px;
    text-align: center;
    color: var(--white);
    font-size: 17px;
    display: none;
}
.navbar.sticky .menu-btn
{
    color: var(--main-color);
    background-color: var(--white);
}

 .content-section
{
    min-height: 100%;
    margin-bottom: -130px;
}

.content-section::after
{
    content: "";
    display: block;
} 


/*===== Home =====*/
.home-section
{
    position: relative;
    background-color: var(--black-100);
    z-index: 1;
    overflow-x: hidden;
    padding-top: 80px;
}
.header-social
{
    background-color: var(--black-100);
    position: absolute;
    top: 53%;
    left: 50px;
    margin-left:10px;
    transform: translateY(-53%);
    border:4px solid rgba(100,111,135,0.58);
    border-radius: 50px;
}
.header-social li a 
{
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 20px 15px;
    color: var(--main-color);
    transition: all 0.3s ease-out 0s;
}

.home-text {
        background-color: var(--black-100);
}

.home-text h4{
    font-family: "Georgia", serif;
    margin-bottom: -20px;
}

.home-text img {
 margin-bottom: 18px;
}

.header-social li a:hover
{
    color: rgba(100,111,135,0.58);
}
.home-section .home-text,
.home-section .home-image
{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.home-section .home-text h4
{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    color: var(--main-color);
}
.home-section .home-text h1
{
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
    color: var(--black);
}
.home-section .home-text span
{

    font-family: "Georgia", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--black-to-yellow);
    display: block;
    margin-top: 15px;
}
.home-section .home-text p
{   
    font-family: "Georgia", serif;
    font-size: 18px;
    color: var(--black);
    font-weight: 2.5rem;
    line-height: 1.8rem;
    margin-top: 15px;
}
.home-section .home-text strong
{
    font-size: 35px;
    font-weight: 700;
    padding-left: 3px;
    color: var(--black);
}

.home-section .home-text .btn 
{
    display: inline-block;
    margin-top: 15px;
}

.home-section  {
    background-color:var(--header-footer)
    /* #00a78e */
}  

.home-section .home-image .img-box img
{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    border-radius: 20px;
    z-index: 789;
}

.home-image {
    text-align: center;
    margin-bottom: 10px;
}

.my-img {
    height: 20rem;
    
}


/*===== About skills=====*/

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.skill-header {
  margin: 1rem 0;
}

.skills-wrapper {
    transition: transform .5s; /* Animation */
}
.skills-wrapper .skill {
    display: inline-flex;
    flex-direction: column;
}

.skills-wrapper .skill span {
    color: var(--main-to-yellow);
}


.skills-wrapper:hover {
    transform: scale(1.1)
}
.skills-wrapper img {
  padding: 1.25rem;
}

.skill-icon {
  width: 11.875rem;
  height: 11.25rem;

}

.icon-card {
  background-color:var(--white) ;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--main-color);
  padding: 20px;
  margin: 10px;
} 



/*===== portfolio =====*/
.portfolio 
{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    padding-top: 2.5rem;
  
}
.portfolio-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolios-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-container {
  text-align: center;
  width: 23.875rem;
  padding: 1rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.project-title {
  margin-bottom: 10px;
  color: var(--black-to-yellow);
}

.project-details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.4rem;

}

.portfolio-container p {
  padding: 0.4rem;
  margin-bottom: 20px;
  font-size: 16px; 
  color: var(--black);
}


.portfolio-container a.btn-link {
    position: relative;
    justify-content: center;   
}

.portfolio-card {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--main-to-yellow);
  padding: 20px;
  margin: 1rem  2rem;
}





/*===== contact =====*/
.contact-section
{
    min-height: 100vh;
    background-color: var(--black-100);
}

.contact-section .contact-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.contact-section .contact-item-inner
{
    padding: 30px 15px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 5px;
    width: 100%;
}
.contact-section .contact-item-inner i
{
    font-size: 25px;
    color: var(--main-color);
}
.contact-section .contact-item-inner span
{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    margin: 15px 0 10px;
    text-transform: capitalize;
}
.contact-section .contact-item-inner p
{
    font-size: 18px;
    color: var(--black-400);
    line-height: 26px;
    margin: 0;
}

.contact-section .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}
.contact-section .w-50
{
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-section .input-group
{
    margin: 10px 0 25px;
    border-radius: 30px;
    background-color: var(--black-100);
    box-shadow: var(--shadow-black-100);
}

.contact-section .input-group .input-control
{
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    transition: all 0.3s ease;
    color: var(--black-400);
}
.contact-section .input-group textarea.input-control
{
    height: 180px;
    padding-top: 15px;
    resize: none;
}
.contact-section .input-group .input-control:focus
{
    border: 1px solid var(--main-color);
}

.contact-section .input-group ::placeholder{
    color:var(--black-400) ;
}

.contact-section .submit-btn
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 15px;
}


/*footer*/
.footer
{
    background-color: var(--header-footer);
    /* var(--main-to-ash);     */
}

.footer,.content-section::after
{
    height: 130px;
}


footer .copyright-text
{
    padding: 10px 0;
    font-size: 22px;
    font-weight: 900;
    color: white;
    font-weight: 300;
    margin: 10px 0 0;
}

 .footer-social{
    display:flex;
    flex-direction: row;
    padding-top: 20px ;
}

.footer-social li a{
    font-size: 18px;
    text-align: center;
    padding: 20px 15px;
    color: white;
}

.footer-social li a:hover{
    font-size: 20px;
    color:var(--black-400)
}

/* Scroll to top button */

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.scroll-up img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%; 
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.switch {
    display: flex; 
    width: 60px;
    align-items: center;
    height: auto;
    padding:10px;
} 

.switch .switch-items {
  position: relative;
  display: block;
  background:var(--ash-to-yellow) ;
  width: 100px;
  height: 15px;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
}

 .switch input {
  display: none;
}

.slider {
  cursor: pointer;
  background-color:black;
  transition: 0.4s;
  border-radius: 50%;
  margin-top: -4.5px;
  height: 23px;
  width: 23px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(20px); 
  background: var(--main-color)
} 





/*Responsive*/
@media  (min-width:1301px)
{
    
    .header-social
    {
        left: 10px;
    }

    .portfolio-card {
        margin-left: 3rem;
    }
}


@media  (max-width:1300px)
{
    .header-social
    {
        display: none;
    }
    
.my-img {
    width: 78%;
    padding-right: 0.2rem;
}

}


@media(max-width: 991px)
{
    .navbar .menu
    {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background-color: var(--main-color);
        width: 100%;
        text-align: center;
        transition: all 0.5s ease;
        box-shadow: 0 10px 27px rgba(0,0,0,.05);
    }

    .navbar .menu.active 
    {
        left: 0;
    }

    .navbar.sticky .menu
    {
        background-color: var(--white);
        top: 65px;
    }

    .navbar .menu .nav-item
    {
        display: block;
        margin: 6px 0;
    }

    .navbar.sticky .menu .nav-item .nav-link
    {
        color: var(--main-color);
    }

    .navbar .nav-item .nav-link span 
    {
        display: none;
    }

    .navbar .menu-btn
    {
        display: block;
        z-index: 999;
    }

    .header-hero-shape
    {
        display: none;
    }

    .home-section .home-image,
    .home-section .home-text
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-section .home-image
    {
        display: flex;
        justify-content: center;
    }

    .home-image .img-box
    {
        margin-top: 30px;
    }

    .about-section .about-image
    {
        display: none;
    }

    .about-section .about-content
    {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .about-section .about-content .section-title
    {
        text-align: center;
    }

}

@media(max-width: 767px)
{

    .portfolio .portfolio-item,
    .contact-section .contact-item,
    .contact-section .w-50,
    .about-section .about-content
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio .portfolio-item
    {
        margin-bottom: 12px;
    }

    .home-image .img-box{
        padding-right: 20px;
    }

    .home-section .home-text h1
    {
        font-size: 30px;
        font-weight: 600;
    }

    .home-section .home-text h4
    {
        padding-top: 20px;
    }


    .home-section .home-text p
    {
        font-size:16px ;
    }

    .header-social li a 
    {
        display: none;
    }

    
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .portfolio-container {
    flex-direction: column;
  }

  .portfolio-container {
    width: 20.875rem;
  }

      
.skills-wrapper {
    transition: transform .4s; /* Animation */
}

.skills-wrapper:hover {
    transform: scale(1.05)
}

 
    .skill-icon {
  width: 7.5rem;
  height: 7.5rem;
    }

}

@media(max-width: 415px){

   
    
    .change-mode{
        margin-left: -140px;
    }

    
    .skill-icon {
  width: 5.5rem;
  height: 5.5rem;
    }

}


@media(max-width: 376px)
{
    .home-section
    {
        padding-top: 120px;
    }

 
 .download{
     width: 8rem;
     padding-left: 8px;
     padding-right: 8px;
 }
.home-image{
    margin-left: -8px;
    margin-bottom: 30px;
}


    .change-mode{
        margin-left: -50px;
    }

    .menu-btn {
        margin-left: 30px;
    }

    .skill-icon {
  width: 5.5rem;
  height: 5.5rem;

}

}
 

@media(max-width: 321px)
{
    .home-section .home-text strong
    {
        font-size: 26px;
    }

       .btn-1 {
        width: 6rem;
        padding-left: 5px;
        padding-right: 5px;
    }

     .download{
     width: 8rem;
     padding-left: 8px;
     padding-right: 8px;
 }

    
    .change-mode{
        margin-left: -20px;
    }

}


@media(max-width: 281px)
{
    .home-section .home-text strong
    {
        font-size: 20px;
    }

       .btn-1 {
        font-size: 14px;
        width: 6rem;
        padding-left: 5px;
        padding-right: 5px;
    }

     .download{
     width: 7rem;
     padding-left: 8px;
     padding-right: 8px;
 }

    
    .change-mode{
        margin-left: -6px;
    }
}